# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDE - Eclipse
.classpath
.project
.settings/
.factorypath

# IDE - IDEA
*.iml
.idea/

# IDE - VSCode
.vscode

# JAVA
target/

# Generated conf files 

.cache